{% extends "services/base.html" %}

{% block title %} Служба технолога {% endblock %}

{% load static %}

{% block content %}

<div class="container_body">
    <h1 class="text-center">Служба технолога</h1>
    <p><u>Служба технолога</u> контролирует состояние производственных линий и станков. </p>
    <p><i>Специалисты службы технолога анализируют производственные данные для выявления узких мест и 
        оптимизации процессов. Они также разрабатывают и внедряют новые технологии, направленные на повышение
         качества продукции. Служба технолога тесно сотрудничает с другими подразделениями, такими как служба качества 
         и служба производства, для достижения общих целей. Кроме того, они проводят обучение и инструктаж сотрудников 
         по новым технологиям и методам работы. Регулярные проверки и техническое обслуживание оборудования также входят 
         в обязанности службы технолога. Таким образом, служба технолога играет ключевую роль в обеспечении стабильности 
         и эффективности производственного процесса.</i></p>
           <img style="margin-left: 500px;" src="//th.bing.com/th/id/R.08cb50c2500dc69d69e64f304278ac64?rik=31%2fnUzDQNJHAUw&pid=ImgRaw&r=0" width="320" height="215">
           <img style="margin-top: -200px; margin-left: 80px;" src="//perevozka24.ru/img/ck_upload/harvestery.jpg" width="320" height="215">
</div>

{% endblock %}