{% extends "services/base.html" %}

{% block title %} Служба производства {% endblock %}

{% load static %}

{% block content %}


<div class="container_body">
    <h1 class="text-center">Служба производства</h1>
    <p>Задача <u>службы производства</u> – диспетчеризация и выпуск лесопродукции. </p>
    <p><i>Основная задача этой службы заключается в координации всех этапов производственного процесса, 
        начиная от поступления сырья и заканчивая отгрузкой готовой продукции. Специалисты службы следят 
        за эффективностью работы оборудования, контролируют качество выпускаемой 
        продукции и обеспечивают соблюдение технологических процессов. Они также занимаются планированием 
        производственных мощностей, оптимизацией работы и решением возникающих проблем в процессе производства.</i></p>
           <img style="margin-left: 500px;" src="//th.bing.com/th/id/OIP.gxv8s5ihjiHbddEq4xPpWgHaE8?rs=1&pid=ImgDetMain" width="320" height="215">
           <img style="margin-top: -200px; margin-left: 80px;" src="//th.bing.com/th/id/OIP.s6qf2hmNiwoeqyHceSNHMAHaE7?rs=1&pid=ImgDetMain" width="320" height="215">
</div>

{% endblock %}