{% extends "services/base.html" %}

{% block title %} ЗАО "Лесозавод №10 Белка" {% endblock %}

{% load static %}

{% block content %}

<div class="container_body">
    <h1 class="text-center">ЗАО "Лесозавод №10 Белка"</h1>
    <span style="font-size: 20px;"><u>ЗАО "Лесозавод №10 Белка"</u> – лесопильный завод, который производит разные виды лесопродукции.</span>
    <hr>
    <p><i>Завод расположен в живописном районе, что обеспечивает доступ к качественному сырью и минимизирует транспортные расходы. 
        Основное внимание уделяется экологически чистым технологиям, что позволяет минимизировать воздействие на окружающую среду.
        <br>
        <br>
        Он активно работает над расширением ассортимента своей продукции, 
        внедрением инновационных технологий и повышением качества обслуживания клиентов. Завод стремится стать 
        лидером на рынке лесопродукции, предлагая своим клиентам только лучшие изделия и услуги. Сотрудники завода – 
        это высококвалифицированные специалисты, которые постоянно повышают свою квалификацию и следят за последними тенденциями 
        в области лесопереработки.</i></p>
    <hr>
    <img style="margin-left: 150px; padding: 20px; border: 2px solid #0000005b; border-radius: 6px;" src="//m20.targeo.pl/i/cache/vcard/18/04/26/6.jpg" width="570" height="415">
    <br>
    <br>
    <span>Лесопильный завод "Лесозавод №10 Белка" делится на несколько служб предприятия. 
    <p>Основные службы – это <a href={% url "commercial_service:commercial" %}>коммерческая служба</a>, <a href={% url "production_service:production" %}>производственная служба</a>, <a href={% url "technologist_service:technologist" %}>служба технолога.</a></p></span>
</div>

<div class="container_body" style="width: 800px; height: 500px;">
    <p>Хотите преобразить свою дачу с помощью качественной обработанной древесины? &#127795;&#127969;</p> Мы готовы помочь вам в этом! 
        Регистрация заказа — это ваш первый шаг к получению высококачественной лесопродукции, которая станет основой для ваших идей и проектов. &#128209;</p>
        <p><b>1. Простота оформления:</b> Нажмите "Регистрация заказа", выберите вид древесины и укажите дату доставки. &#128198;</p>
        <p><b>2. Широкий ассортимент:</b> У нас есть все — от досок до бруса, чтобы удовлетворить любые ваши потребности.</p>
        <p><b>3. Гибкая доставка:</b> Выберите удобное время &#128339;, и мы доставим вашу древесину точно в срок.</p>
        <p><b>4. Качество и надежность:</b> Мы гарантируем высокое качество материалов от проверенных поставщиков. &#9989;</p>
        <p><b>5. Персонализированные предложения:</b> Получайте специальные акции и предложения, которые соответствуют вашим интересам.</p>
    <p>Не упустите возможность сделать вашу дачу еще более уютной и красивой! Нажмите на кнопку "Регистрация заказа"
         и начните свой путь к идеальному пространству уже сегодня. &#10024;</p>
    <div class="text-center">
        <button class="btn btn-primary"><a class="text-white nav-link" href={% url "production_service:register_order" %}>Регистрация заказа</a></button>
    </div>
</div>

{% endblock %}